.theme1{
$main-background: hsl(222, 26%, 31%);
$toggle-keypad-background:hsl(223, 31%, 20%);
$screen-background:hsl(224, 36%, 15%);
// Keys
$key-background: hsl(30, 25%, 89%);
$key-shadown:hsl(28, 16%, 65%);
$key-del-reset-background:hsl(225, 21%, 49%);
$key-del-reset-shadow: hsl(224, 28%, 35%);
$key-equal:hsl(6, 63%, 50%);
$key-equal-shadown:hsl(6, 70%, 34%);
// text
$keys:hsl(221, 14%, 31%);
$special-keys:white;
}